@background: white;
@operators-background: #FAFAFA;
@border: #d3d3d3;
;
@border-bottom: darkgray;
@seperator: lightgray;
@insert: #1e3cc0;
@hover: #DDDDDD;
@highlight: #ceae1e;
@selected: #DDDDDD;
@focus: dodgerblue;
@tooltip-background: #555;
@tooltip: white;
@tooltip-border: #555;
@toggle-on: #0fbe0f;
@toggle-off: #ee1a1a;
@selectable: #007099;
@primary: black;