@import (reference) '../../util/common.less';


.searchBar {
  position: relative;
  width: 100%;
  font-family: @font-family;

  .searchBarInner {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid @border;
    border-radius: 3px;
    background-color: @background;

    &:hover {
      border-color: @hover;
    }

    &:focus-within {
      border-color: @focus;
    }
  }

  .multiLineSearchBar {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px;
    height: fit-content;
  }

  .pullContainerWrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  .filterIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    align-self: start;

    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.compact {
  height: @height-compact;
}

.normal {
  height: @height;
}

.large {
  height: @height-large;
}

.font-compact {
  line-height: @line-height-compact;
  font-size: @font-size-compact;
}

.font-normal {
  line-height: @line-height;
  font-size: @font-size;
}

.font-large {
  line-height: @line-height-large;
  font-size: @font-size-large;
}