.hintGroup {
  display: flex;
  flex-direction: row;

  .groupTitle {
    display: flex;
    text-align: left;
    align-items: center;
    column-gap: 3px;
    font-size: small;
    padding: 4px 6px;
    user-select: none;
    white-space: nowrap;
    height: 16px;
  }

  .selectable {
    color: #007099;
    font-weight: bold;
  }
}