.operators {
  display: flex;
  column-gap: 4px;
  background-color: #FAFAFA;
  border-bottom: 1px solid darkgray;
  font-size: small;
  padding: 0px 3px;

  .seperator {
    border-left: 2px solid lightgray;
    margin-left: 4px;
    margin-right: 2px;
    height: 14px;
    align-self: center;
  }

  .operatorSelection {
    display: flex;
    flex-grow: 1;
  }

}