@import (reference) '../../util/common.less';

.sortPill {
  display: flex;
  align-items: center;
  color: @secondary;
  padding-left: 4px;
  border-radius: 3px;
  position: relative;

  .sortTitle {
    user-select: none;
    white-space: nowrap;
    margin-right: 3px;
  }

  .sortFields {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

.compact {
  height: @pill-height-compact;
}

.normal {
  height: @pill-height;
}

.large {
  height: @pill-height-large;
}

.expanded {
  align-self: flex-start;
  margin-top: 2px;
}

.contracted {
  align-self: center;
}
