@import (reference) '../../../util/common.less';

.or {
  position: relative;
  border-radius: 3px;
  font-size: small;
  color: @background;
  margin-right: 1px;
  padding: 0 2px 2px 2px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}