.or {
  position: relative;
  border-radius: 3px;
  font-size: small;
  color: white;
  margin-right: 1px;
  padding: 0 2px;

  .closeButton {
    position: absolute;
    top: -4px;
    left: calc(100% - 10px);
    z-index: 1;
  }
}